

@font-face {
    font-family: 'pokemon';
    src: url('../fonts/Pokemon/Pokemon-Solid.ttf');
}

/* ::-webkit-scrollbar {
    width: 7px;
    background-color: #910305;!important;
}

::-webkit-scrollbar-thumb {
    background-color: #fb7248;!important;
} */

.image-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;  

}

.image-container img {
    width: 230px;
    height: 230px;
    padding: 15px;
    margin-left: 25%;
    border-radius: 50%;
    border: 5px solid rgb(139,53,245);
    box-shadow: 0 0 10px 5px rgb(139,53,245);
}

.base-container {
    display: flex;
    justify-content: space-around;  
    font-family: 'pokemon';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: RGB(55,97,168);
}

.stats-left > p {
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px;
    letter-spacing: 2px;
    color: RGB(254,202,27);    
    font-family: 'pokemon';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: RGB(55,97,168);
}

.stats-right > p{
    font-size: 20px;
    text-transform: capitalize;
    padding: 5px; 
    letter-spacing: 2px;  
    color: RGB(254,202,27);    
    font-family: 'pokemon';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: RGB(55,97,168);
}




