
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

#root {  
  background-image: url("/src/images/purpyellow2.png");
  background-size: cover;
}

@layer base {
  :root {
    --color-primary: rgb(139,53,245);
    --color-secondary: rgb(254,202,27);
    /* ... */
  }
}